<!-- copy paste of code from header.ejs - can be applied to ALL pages accross a website -->
<%- include('header.ejs') -%>

<h2>About page</h2>
<p>This is the about page that uses the same header and footer and other code (i.e. css) as the list.ejs page. 
    This allows for a website to be built with minimal code repetition and it can also be used for menus etc. 
</p>

<!-- copy paste of code from footer.ejs - can be applied to ALL pages accross a website -->
<%- include('footer.ejs') -%>