<%- include('header'); -%>

    <div class="box" id="heading">
        <h1> About Us</h1>
    </div>
    <div class="box">
        <p>We are just awesome to work with</p>
    </div>
   
<%- include('footer'); -%>